.thank-you {
    background: $footer-thank-you-background;
    background-size: cover;
    background-position: center center;

    .thank-you-block {
        color: $footer-thank-you-font-color;
        font-weight: $footer-thank-you-font-weight;

        .title {
            font-family: $footer-thank-you-title-font-family;
            font-size: $footer-thank-you-title-font-size;
            line-height: calc($footer-thank-you-title-font-size * 1.5);
            margin-top: 0;
        }

        .text {
            font-family: $footer-thank-you-font-family;
            font-size: $footer-thank-you-font-size;
            line-height: calc($footer-thank-you-font-size * 1.5);
        }

        .send-off {
            font-family: $footer-thank-you-send-off-font-family;
            font-size: $footer-thank-you-send-off-font-size;
            line-height: calc($footer-thank-you-send-off-font-size * 1.5);
        }

        a {
            text-decoration: none;
            color: $white !important;
            font-weight: 600;
          
            &:hover {
              color: saturate($primary, 30%) !important;
              text-shadow:1px 1px 2px #761D21;
            }
          }

        a.btn-primary {
            color: $white;

            &:hover {
                color: $white !important;
            }
        }
    }
}