.hero {
    background-color: $primary;
    background: $hero-mobile-background;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8rem 2rem;
    color: $hero-header-font-color;

    @media screen and (min-width: $md) {
        background-color: $primary;
        background: $hero-tablet-background;
        background-position: center center;
        background-size: cover;
    }

    @media screen and (min-width: $xl) {
        background-color: $primary;
        background: $hero-background;
        background-position: center center;
        background-size: cover;
    }


}