.jumbotron {
    min-height: 80vh;
    background-color: $primary;
    background: $jumbotron-mobile-background;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: $md) {
        background-color: $primary;
        background: $jumbotron-tablet-background;
        background-position: center center;
        background-size: cover;
    }

    @media screen and (min-width: $xl) {
        background-color: $primary;
        background: $jumbotron-background;
        background-position: center center;
        background-size: cover;
        
    }

    .jumbotron-content {
        text-align: center;
        max-width: $xl;
        padding: 1rem;

        h1 {
            margin: 0 0;
            color: $jumbotron-header-font-color;
            text-transform: $jumbotron-text-transform;
            text-align: center;
        }

        h2,
        h3 {
            padding-bottom:1rem;
            color: $white;
            text-align: center;
        }

        p {
            margin: 1rem auto;
            color: $jumbotron-font-color;
            text-align: center;
        }

        @media screen and (min-width: $sm) {
            padding: 2rem;
        }

        @media screen and (min-width: $md) {
            padding: 4rem;
        }
        @media screen and (min-width: $lg) {
            padding: 4rem 6rem;
        }
    }


    @media screen and (min-width: $md) {
        min-height: 90vh;
    }
}

/* JumbotronWithSidebar.scss */

.jumbotron-with-sidebar {

    .jumbotron-content {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        .main-content {
            padding: 3rem;
            flex: 1;
            width: 100%;
            max-width: $lg;
        }

        .sidebar-content {
            width: 100%;
            /* Adjust width as needed */
            display: flex;
            flex-direction: column;
            /* Align children vertically */
            justify-content: center;
            /* Center children vertically */
            align-items: center;
            /* Center children horizontally */
            padding: 20px;
            /* Add padding for spacing */

            iframe {
                height: 500px !important;
            }

            @media screen and (min-width: $md) {
                max-width: 500px;
            }
        }
    }

    @media screen and (min-width: $md) {
        min-height: 65vh;
    }
}

.jumbotron-with-video {

    .jumbotron-content {
        display: flex;
        align-items: stretch;
        /* Stretch children vertically */
        width: 100%;

        .main-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .sidebar-content {
            width: 300px;
            /* Adjust width as needed */
            background-color: $white;
            display: flex;
            flex-direction: column;
            /* Align children vertically */
            justify-content: center;
            /* Center children vertically */
            align-items: center;
            /* Center children horizontally */
            padding: 20px;
            /* Add padding for spacing */
        }
    }

    @media screen and (min-width: $md) {
        min-height: 65vh;
    }
}

.jumbotron-video {
    overflow: hidden;
    position: relative;
    padding: 0 0;

    video {
        position: absolute;
        opacity: .6;
    }

    .jumbotron-content {
        position: relative;
        z-index: 2
    }
}