/* ContactForm.scss */

.contact-form {
    background-color: $contact-form-background;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 25px;

    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        box-sizing: border-box;
        /* Ensure padding and border are included in the width */
    }

    textarea {
        height: 150px;
        /* Set a fixed height for the textarea */
    }

    button {
        width: 100%;
    }
}

// form
.form-1 {border: 1px solid grey;}